

<div class="header">
  <div class="header1">
  </div>
  <div class="header2">
    <h1>
Moon Book</h1>
  </div>
</div>

<div class ="livro" >
		<form action="/insertuser" method='POST'>
		<div class = "cd">
			<h1>Cadastre-se</h1>
		</div>
		
			<div class="cadastro">
				 <input 
				 	name="email" 
					type="email" 
					placeholder="Digite seu email" 
					required />
    			<input
	        		name="password"
    	    		type="password"
       		 		placeholder="Digite sua senha"
        			required
      			/>


      		<button type="submit" >Cadastrar</button>
				<div class = "Acount">
					<p>
						Já posue uma conta?<br>
						<a href = "./">Entrar</a>
					</p>
				</div>
			</div>
		</form>
</div>




